<?xml version="1.0" encoding="UTF-8"?>

<!--
/**
* Rootinfo
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to license@magentocommerce.com so we can send you a copy immediately.
*
* DISCLAIMER
*
* However,* Rootinfo *guarantee functional accuracy of
* specific extension behavior. Additionally we take no responsibility
* for any possible issue(s) resulting from extension usage.
* We reserve the full right not to provide any kind of support for our free extensions.
* Thank you for your understanding.
* @category   Rootinfo
* @package    Rootinfo_Socialconnect
* @author     Shekhar <shekhar@rootinfosol.com>
* @copyright  Copyright (c) 2014-2015 (http://rootinfosol.com/)
* @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
*/

-->

<config>
    <modules>
        <Rootinfo_SocialConnect>
            <version>0.2.3</version>
        </Rootinfo_SocialConnect>
    </modules>
    <default>
        <customer>
            <rootinfo_socialconnect_google>
                <enabled>0</enabled>
            </rootinfo_socialconnect_google>
            <rootinfo_socialconnect_facebook>
                <enabled>0</enabled>
            </rootinfo_socialconnect_facebook>	    
            <rootinfo_socialconnect_twitter>
                <enabled>0</enabled>
            </rootinfo_socialconnect_twitter>	    	    
        </customer>
    </default>
    <frontend>
        <translate>
            <modules>
                <Rootinfo_SocialConnect>
                     <files>
                        <default>Rootinfo_SocialConnect.csv</default>
                     </files>
                </Rootinfo_SocialConnect>
            </modules>
        </translate>        
        <layout> 
            <updates>
                <rootinfo_socialconnect>
                    <file>rootinfo_socialconnect.xml</file>
                </rootinfo_socialconnect>
            </updates>
        </layout>
    </frontend>    
    <global>
        <models>
            <rootinfo_socialconnect>
                <class>Rootinfo_SocialConnect_Model</class>
            </rootinfo_socialconnect>
        </models>
        <blocks>
            <rootinfo_socialconnect>
                <class>Rootinfo_SocialConnect_Block</class>
            </rootinfo_socialconnect>            
        </blocks>
        <helpers>
            <rootinfo_socialconnect>
                <class>Rootinfo_SocialConnect_Helper</class>
            </rootinfo_socialconnect>
        </helpers>
        <resources>
            <rootinfo_socialconnect_setup>
                <setup>
                    <module>Rootinfo_SocialConnect</module>
                    <class>Rootinfo_SocialConnect_Model_Resource_Setup</class>
                </setup>
            </rootinfo_socialconnect_setup>
        </resources>        
    </global>
    <frontend>
        <routers>
            <rootinfo_socialconnect>
                <use>standard</use>
                <args>
                    <module>Rootinfo_SocialConnect</module>
                    <frontName>socialconnect</frontName>
                </args>
            </rootinfo_socialconnect>

             <customer>
               <args>
               <modules>
                <rootinfo_socialconnect before="Mage_Customer">
                Rootinfo_SocialConnect</rootinfo_socialconnect>
               </modules>
              </args>
            </customer>

        </routers>  
    </frontend>   
	    <default>
		<rootinfoajaxlogin>
		    <settings>
		        <power>1</power>
		        <jquery>0</jquery>
		        <jqueryui>1</jqueryui>
		        <redirection>0</redirection>
		    </settings>
		</rootinfoajaxlogin>
	    </default> 
</config>
